@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(183, 228, 222);
}

.today {
    width: 600px;
    height: 290px;
    border-radius: 15px;
    background-color: rgb(100, 144, 175);
    margin: 50px;
}

.week {
    width: 80%;
    height: 200px;
    /* background-color: rgb(241, 241, 241); */
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 25px;
}

.day {
    display: flex;
    justify-content: space-between;
}

.next-five {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.top {
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #424242;
    color: whitesmoke;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Montserrat', sans-serif;
}

.button {
    width: 35px;
    height: 35px;
}

.current-day {
    padding: 20px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
}

.time {
    padding: 20px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.temp {
    padding: 20px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset {
    padding: 0 20px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.description {
    padding: 10px 20px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}